.checkoutNavigation,
.desktop {
  background-color: var(--White);
  display: flex;
}
.desktop {
  width: 100%;
  position: relative;
  overflow-y: auto;
  flex-direction: column;
  align-items: flex-start;
}
.checkoutNavigation {
  align-self: stretch;
  height: var(--height-67);
  border-bottom: var(--border-1);
  box-sizing: border-box;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-24) var(--padding-40);
  gap: var(--gap-20);
  text-align: left;
  font-size: var(--fs-16);
  color: var(--Black);
  font-family: var(--font-inter);
}
.skinclinicLogo {
  height: var(--height-19);
  width: var(--width-121);
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.vectorIcon {
  position: absolute;
  height: 96.84%;
  width: 100%;
  top: 1.58%;
  right: 0.83%;
  bottom: 1.58%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bag {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}
.checkoutContainer,
.leftContent {
  background-color: var(--White);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
}
.checkoutContainer {
  align-self: stretch;
  align-items: center;
  position: relative;
  isolation: isolate;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--Black);
  font-family: var(--font-inter);
}
.leftContent {
  height: 2264px;
  width: 730px;
  border-right: var(--border-1);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-32) var(--padding-40) var(--padding-56);
  z-index: 0;
}
.expressCheckoutButtons,
.fullFormWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.fullFormWrapper {
  width: 100%;
  gap: var(--gap-32);
  max-width: 650px;
}
.expressCheckoutButtons {
  align-self: stretch;
  gap: var(--gap-16);
  text-align: center;
  color: var(--Gray-3);
}
.expressCheckout {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.blockExpressCheckoutWal,
.expressCheckoutOptions {
  display: flex;
  align-items: center;
  justify-content: center;
}
.expressCheckoutOptions {
  align-self: stretch;
  flex-wrap: wrap;
  align-content: center;
  gap: var(--gap-8);
}
.blockExpressCheckoutWal {
  cursor: pointer;
  border: 0;
  padding: var(--padding-14) var(--padding-01);
  background-color: var(--Shop-Pay-Purple);
  height: var(--height-48);
  flex: 1;
  border-radius: var(--br-5);
  flex-direction: column;
  box-sizing: border-box;
  min-width: var(--min-w-146);
  flex-shrink: 0;
}
.shoppaylogo {
  width: 88px;
  height: 21.2px;
  display: flex;
  align-items: center;
}
.shoppay {
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.shoplogo,
.shoplogoChild,
.shoppayIcon {
  position: absolute;
  top: 0;
  overflow: hidden;
}
.shoppayIcon {
  height: 99.06%;
  width: 37.05%;
  right: 0.8%;
  bottom: 0.94%;
  left: 62.16%;
  max-width: 100%;
  max-height: 100%;
}
.shoplogo,
.shoplogoChild {
  height: 100%;
  width: 58.86%;
  right: 41.14%;
  bottom: 0;
  left: 0;
}
.shoplogoChild {
  width: 100%;
  right: 0;
  max-width: 100%;
  max-height: 100%;
}
.blockExpressCheckoutWal2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-14) var(--padding-01);
  background-color: var(--Black);
  height: var(--height-48);
  flex: 1;
  border-radius: var(--br-5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: var(--min-w-146);
  flex-shrink: 0;
}
.logoIcon {
  width: 100%;
  height: var(--height-20);
  position: relative;
}
.blockExpressCheckoutWal3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-14) var(--padding-01);
  background-color: var(--color-goldenrod);
  height: var(--height-48);
  flex: 1;
  border-radius: var(--br-5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: var(--min-w-146);
  flex-shrink: 0;
}
.logoIcon2 {
  width: 100%;
  height: var(--height-20);
  position: relative;
  object-fit: cover;
}
.blockExpressCheckoutWal4 {
  height: var(--height-48);
  width: 159.5px;
  border-radius: var(--br-5);
  background-color: var(--Black);
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-14) var(--padding-01);
  box-sizing: border-box;
  gap: var(--gap-10);
  min-width: var(--min-w-146);
  flex-shrink: 0;
}
.logoIcon3,
.paddingmarginGroupIcon {
  height: var(--height-20);
  flex-shrink: 0;
}
.paddingmarginGroupIcon {
  width: 96px;
  display: none;
}
.logoIcon3 {
  width: 50.9px;
  position: relative;
}
.blockExpressCheckoutWal5 {
  height: var(--height-48);
  width: 159.5px;
  border-radius: var(--br-5);
  background-color: var(--color-gold);
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-14) var(--padding-01);
  box-sizing: border-box;
  min-width: var(--min-w-146);
  flex-shrink: 0;
}
.logoIcon4 {
  width: 100%;
  height: var(--height-30);
  position: relative;
  flex-shrink: 0;
}
.blockExpressCheckoutWal6 {
  height: var(--height-48);
  width: 159.5px;
  border-radius: var(--br-5);
  background-color: var(--color-steelblue);
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-14) var(--padding-01);
  box-sizing: border-box;
  min-width: var(--min-w-146);
  flex-shrink: 0;
}
.logoIcon5 {
  width: 100%;
  height: 16.1px;
  position: relative;
}
.blockExpressCheckoutWal7 {
  height: var(--height-48);
  width: 333px;
  border-radius: var(--br-5);
  background-color: var(--Black);
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-14) var(--padding-124);
  box-sizing: border-box;
  gap: var(--gap-10);
  min-width: 150px;
  flex-shrink: 0;
}
.logoIcon6,
.paddingmarginGroupIcon2 {
  height: var(--height-20);
  flex-shrink: 0;
}
.logoIcon6 {
  width: 48.2px;
  position: relative;
  display: none;
}
.paddingmarginGroupIcon2 {
  width: 96px;
}
.contact,
.form {
  align-self: stretch;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-16);
}
.contact {
  margin: 0;
  position: relative;
  font-size: var(--fs-24);
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  font-family: inherit;
}
.inputAlt {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8);
}
.label {
  width: var(--width-300);
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  display: none;
  flex-shrink: 0;
}
.input {
  align-self: stretch;
  backdrop-filter: blur(52px);
  border-radius: var(--br-8);
  background-color: var(--White);
  border: var(--border-1);
  display: flex;
  align-items: center;
  padding: var(--padding-24);
  gap: var(--gap-8);
  flex-shrink: 0;
}
.placeholder {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: var(--fs-16);
  background-color: transparent;
  flex: 1;
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  color: var(--Gray-3);
  text-align: left;
  display: inline-block;
}
.arrow {
  height: var(--height-16);
  width: var(--width-16);
  position: relative;
  display: none;
}
.arrowRightAltIcon {
  position: absolute;
  height: 46.88%;
  width: 62.5%;
  top: 26.25%;
  right: 18.75%;
  bottom: 26.88%;
  left: 18.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.hintText {
  width: var(--width-300);
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  color: var(--Gray-3);
  display: none;
  flex-shrink: 0;
}
.checkbox,
.checkboxIcon {
  display: flex;
  align-items: center;
}
.checkbox {
  align-self: stretch;
  gap: var(--gap-8);
}
.checkboxIcon {
  margin: 0;
  height: var(--height-24);
  width: var(--width-24);
  border-radius: var(--br-6);
  border: var(--border-1);
  box-sizing: border-box;
  justify-content: center;
}
.checkboxLabel {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.delivery,
.form2 {
  align-self: stretch;
}
.form2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-16);
  text-align: left;
  font-size: var(--fs-24);
  color: var(--Black);
  font-family: var(--font-inter);
}
.delivery {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  font-family: inherit;
}
.inputAlt2,
.inputs {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inputs {
  gap: var(--gap-16);
  font-size: var(--fs-16);
}
.inputAlt2 {
  gap: var(--gap-8);
  color: var(--Gray-3);
}
.label2 {
  width: var(--width-300);
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  color: var(--Black);
  display: none;
  flex-shrink: 0;
}
.chevron {
  height: var(--height-16);
  width: var(--width-16);
  position: relative;
}
.keyboardArrowDownIcon {
  position: absolute;
  height: 28.13%;
  width: 46.88%;
  top: 35%;
  right: 26.88%;
  bottom: 36.88%;
  left: 26.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.inputAlt3,
.row {
  display: flex;
  align-items: flex-start;
}
.row {
  align-self: stretch;
  gap: var(--gap-16);
}
.inputAlt3 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-8);
}
.keyboardArrowDownIcon2 {
  position: absolute;
  height: 28.13%;
  width: 46.88%;
  top: 35%;
  right: 26.88%;
  bottom: 36.88%;
  left: 26.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.inputAlt7 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8);
}
.chevron6,
.placeholder7 {
  position: relative;
  flex-shrink: 0;
}
.placeholder7 {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: var(--fs-16);
  background-color: transparent;
  flex: 1;
  letter-spacing: -0.06em;
  line-height: 100%;
  color: var(--Gray-3);
  text-align: left;
  display: inline-block;
}
.chevron6 {
  height: var(--height-16);
  width: var(--width-16);
  display: none;
}
.inputAlt8 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8);
  color: var(--Gray-3);
}
.chevron7,
.chevron8 {
  height: var(--height-16);
  width: var(--width-16);
  position: relative;
}
.chevron8 {
  display: none;
  flex-shrink: 0;
}
.methods,
.radio {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.methods {
  border-radius: var(--br-8);
  border: var(--border-1);
  flex-direction: column;
  font-size: var(--fs-16);
}
.radio {
  backdrop-filter: blur(52px);
  padding: var(--padding-24);
  gap: var(--gap-8);
}
.radiobutton {
  cursor: pointer;
  margin: 0;
  display: flex;
  align-items: center;
}
.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-4) var(--padding-01);
  gap: var(--gap-4);
}
.to7Business {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  color: var(--Gray-3);
}
.priceWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-4) var(--padding-01);
  text-align: right;
}
.divider,
.prices {
  align-self: stretch;
  position: relative;
}
.prices {
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.divider {
  height: var(--height-1);
  border-top: var(--border-1);
  box-sizing: border-box;
}
.methods2,
.radio4 {
  align-self: stretch;
  display: flex;
}
.methods2 {
  border-radius: var(--br-8);
  border: var(--border-1);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--fs-16);
}
.radio4 {
  backdrop-filter: blur(52px);
  align-items: center;
  padding: var(--padding-24);
  gap: var(--gap-8);
}
.text4,
.topText {
  flex: 1;
  display: flex;
}
.topText {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-8);
}
.text4 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-4) var(--padding-01);
}
.payments {
  display: flex;
  align-items: center;
  gap: var(--gap-8);
  font-size: var(--fs-12);
  color: var(--Gray-3);
}
.paymentMethodIcon,
.paymentMethodIcon2 {
  width: var(--width-35);
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.paymentMethod2 {
  height: var(--height-24);
  width: var(--width-35);
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.base {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-dodgerblue);
}
.lettersIcon {
  position: absolute;
  height: 54.58%;
  width: 97.14%;
  top: 25%;
  right: 1.43%;
  bottom: 20.42%;
  left: 1.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cardForm {
  align-self: stretch;
  background-color: var(--Gray-1);
  border-top: var(--border-1);
  border-bottom: var(--border-1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-24);
  gap: var(--gap-16);
}
.input10,
.label10 {
  align-self: stretch;
  flex-shrink: 0;
}
.label10 {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.input10 {
  border: var(--border-1);
  outline: 0;
  width: 100%;
  background-color: var(--White);
  height: var(--height-64);
  backdrop-filter: blur(52px);
  border-radius: var(--br-8);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: var(--padding-24);
}
.inputAlt12,
.row3 {
  display: flex;
  align-items: flex-start;
}
.row3 {
  align-self: stretch;
  gap: var(--gap-16);
  color: var(--Gray-3);
}
.inputAlt12 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-8);
}
.input12,
.label12 {
  align-self: stretch;
  flex-shrink: 0;
}
.label12 {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  color: var(--Black);
}
.input12 {
  backdrop-filter: blur(52px);
  border-radius: var(--br-8);
  background-color: var(--White);
  border: var(--border-1);
  display: flex;
  align-items: center;
  padding: var(--padding-24);
  gap: var(--gap-8);
}
.placeholder10 {
  flex: 1;
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  flex-shrink: 0;
}
.arrowRightAltIcon2 {
  position: absolute;
  height: 46.88%;
  width: 62.5%;
  top: 26.25%;
  right: 18.75%;
  bottom: 26.88%;
  left: 18.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.inputAlt13,
.radio5 {
  display: flex;
  gap: var(--gap-8);
}
.inputAlt13 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  color: var(--Black);
}
.radio5 {
  align-self: stretch;
  backdrop-filter: blur(52px);
  align-items: center;
  padding: var(--padding-24);
}
.paymentMethodsIcon {
  width: 86px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.selectTheAddress {
  align-self: stretch;
  position: relative;
  font-size: var(--fs-12);
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  color: var(--Gray-3);
}
.form6,
.radio6 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.radio6 {
  backdrop-filter: blur(52px);
  padding: var(--padding-24);
  gap: var(--gap-8);
}
.form6 {
  flex-direction: column;
  gap: var(--gap-16);
  font-size: var(--fs-24);
}
.button,
.checkbox3 {
  display: flex;
  align-items: center;
}
.checkbox3 {
  margin: 0;
  height: var(--height-24);
  width: var(--width-24);
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-24) var(--padding-48);
  background-color: var(--Black);
  align-self: stretch;
  backdrop-filter: blur(52px);
  border-radius: var(--br-8);
  justify-content: center;
}
.buttonLabel {
  position: relative;
  font-size: var(--fs-16);
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--White);
  text-align: left;
}
.links {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-16);
}
.fullSummaryWrapper,
.rightContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.rightContent {
  height: 2264px;
  width: 550px;
  background-color: var(--Gray-1);
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-32) var(--padding-40) var(--padding-56);
  box-sizing: border-box;
  z-index: 1;
}
.fullSummaryWrapper {
  width: 100%;
  position: relative;
  isolation: isolate;
  gap: var(--gap-32);
  max-width: 500px;
}
.product,
.productsWrapper {
  align-self: stretch;
  display: flex;
  gap: var(--gap-16);
}
.productsWrapper {
  flex-direction: column;
  align-items: flex-start;
  z-index: 0;
}
.product {
  align-items: center;
}
.image {
  height: 62px;
  width: 62px;
  position: relative;
  border-radius: var(--br-8);
  background-image: url(/Image7@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.badge {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 999px;
  background-color: var(--Gray-2);
  height: var(--height-24);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8);
  box-sizing: border-box;
  flex-shrink: 0;
}
.badgeText {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
  flex-shrink: 0;
}
.productInfo {
  flex: 1;
  display: flex;
  align-items: center;
  gap: var(--gap-8);
}
.leftSideText,
.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.leftSideText {
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-4);
}
.price {
  align-items: flex-end;
}
.priceValue {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.image2 {
  height: 62px;
  width: 62px;
  position: relative;
  border-radius: var(--br-8);
  background-image: url(/Image8@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.bodySerum,
.faceToner2 {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.bodySerum {
  align-self: stretch;
}
.faceToner2 {
  width: 176px;
  display: none;
}
.divider5 {
  align-self: stretch;
  height: var(--height-1);
  position: relative;
  border-top: var(--border-1);
  box-sizing: border-box;
  z-index: 1;
}
.row4,
.textWrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.textWrapper {
  flex-direction: column;
  gap: var(--gap-16);
  z-index: 2;
}
.row4 {
  justify-content: space-between;
  gap: var(--gap-20);
}
.amountsValues,
.div4 {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  text-align: right;
}
.divider6,
.row7 {
  align-self: stretch;
}
.divider6 {
  height: var(--height-1);
  position: relative;
  border-top: var(--border-1);
  box-sizing: border-box;
  z-index: 3;
}
.row7 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-20);
  z-index: 4;
  font-size: var(--fs-24);
}
.total,
.total2,
.totalPrice {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  flex-shrink: 0;
}
.total {
  display: none;
}
.total2,
.totalPrice {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.totalPrice {
  text-align: right;
}
.dropdown {
  width: 470px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 5;
  color: var(--Gray-3);
}
.showOrderSummary {
  flex: 1;
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.orderSummaryDropdown {
  width: var(--width-390);
  margin: 0 !important;
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: var(--Gray-1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
  color: var(--Gray-3);
}
.leftContent2,
.topButton {
  display: flex;
  align-items: center;
}
.topButton {
  align-self: stretch;
  height: 72px;
  border-bottom: var(--border-1);
  box-sizing: border-box;
  justify-content: space-between;
  padding: var(--padding-24);
  gap: var(--gap-20);
  flex-shrink: 0;
}
.leftContent2 {
  gap: var(--gap-8);
}
.localMallIcon {
  width: var(--width-24);
  max-height: 100%;
}
.chevron11,
.localMallIcon,
.showOrderSummary2 {
  position: relative;
  flex-shrink: 0;
}
.showOrderSummary2 {
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.chevron11 {
  height: var(--height-24);
  width: var(--width-24);
}
.keyboardArrowUpIcon {
  display: none;
}
.keyboardArrowDownIcon11,
.keyboardArrowUpIcon {
  position: absolute;
  height: 27.92%;
  width: 47.08%;
  top: 34.58%;
  right: 26.67%;
  bottom: 37.5%;
  left: 26.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  flex-shrink: 0;
}
.div6 {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  color: var(--Black);
}
.productsWrapper2 {
  align-self: stretch;
  border-bottom: var(--border-1);
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-24);
  gap: var(--gap-32);
  flex-shrink: 0;
  color: var(--Black);
}
.product3,
.productsWrapper3 {
  align-self: stretch;
  display: flex;
  gap: var(--gap-16);
}
.productsWrapper3 {
  flex-direction: column;
  align-items: flex-start;
}
.product3 {
  align-items: center;
}
.image3 {
  height: 62px;
  width: 62px;
  position: relative;
  border-radius: var(--br-8);
  background-image: url(/Image7@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.badge3 {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 999px;
  background-color: var(--Gray-2);
  height: var(--height-24);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8);
  box-sizing: border-box;
  flex-shrink: 0;
}
.badgeText3 {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
  flex-shrink: 0;
}
.productInfo3 {
  flex: 1;
  display: flex;
  align-items: center;
  gap: var(--gap-8);
  color: var(--Gray-3);
}
.leftSideText3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-4);
}
.faceToner3,
.ml3 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.faceToner3 {
  color: var(--Black);
}
.price3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: var(--Black);
}
.div7,
.image4 {
  position: relative;
}
.div7 {
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.image4 {
  height: 62px;
  width: 62px;
  border-radius: var(--br-8);
  background-image: url(/Image8@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.productInfo4 {
  flex: 1;
  display: flex;
  align-items: center;
  gap: var(--gap-8);
}
.bodySerum2 {
  width: 336px;
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  display: none;
  flex-shrink: 0;
}
.ml4 {
  color: var(--Gray-3);
}
.faceToner4,
.ml4 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  flex-shrink: 0;
}
.price4 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.divider7,
.row8 {
  align-self: stretch;
}
.divider7 {
  height: var(--height-1);
  position: relative;
  border-top: var(--border-1);
  box-sizing: border-box;
}
.row8 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-20);
}
.div9 {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  text-align: right;
}
.row11 {
  align-self: stretch;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-20);
  font-size: var(--fs-24);
}
@media screen and (max-width: 390px) {
  .checkoutNavigation,
  .leftContent {
    padding-left: var(--padding-24);
    padding-right: var(--padding-24);
  }
  .leftContent {
    width: var(--width-390);
    height: var(--height-auto);
    box-sizing: border-box;
  }
  .blockExpressCheckoutWal2 {
    background-color: var(--color-goldenrod);
  }
  .logoIcon {
    width: 78.18px;
    background: 0 0;
  }
  .blockExpressCheckoutWal3 {
    background-color: var(--color-gold);
    display: none;
  }
  .logoIcon2 {
    height: var(--height-30);
  }
  .blockExpressCheckoutWal4 {
    padding-left: var(--padding-124);
    padding-right: var(--padding-124);
    box-sizing: border-box;
    min-width: 150px;
  }
  .paddingmarginGroupIcon {
    display: flex;
  }
  .blockExpressCheckoutWal5 {
    background-color: var(--Black);
    padding-left: 138px;
    padding-right: 138px;
    box-sizing: border-box;
  }
  .logoIcon4 {
    height: var(--height-20);
    background: 0 0;
  }
  .blockExpressCheckoutWal7 {
    display: flex;
    min-width: var(--min-w-146);
  }
  .logoIcon6 {
    display: block;
  }
  .paddingmarginGroupIcon2 {
    display: none;
  }
  .row {
    flex-direction: column;
  }
  .inputAlt3,
  .inputAlt7 {
    flex: unset;
    align-self: stretch;
  }
  .inputAlt7 {
    display: none;
  }
  .chevron6 {
    display: block;
  }
  .inputAlt8 {
    align-self: stretch;
  }
  .chevron7 {
    display: none;
  }
  .radio,
  .radio4 {
    padding: var(--padding-16);
    box-sizing: border-box;
  }
  .radio {
    flex-wrap: wrap;
  }
  .radio4 {
    flex-direction: column;
    gap: var(--gap-16);
    align-items: flex-start;
    justify-content: center;
  }
  .topText {
    height: var(--height-auto);
    flex: unset;
    align-self: stretch;
  }
  .paymentMethodIcon {
    width: 34.97px;
  }
  .cardForm,
  .radio5,
  .radio6 {
    padding: var(--padding-16);
    box-sizing: border-box;
  }
  .links {
    flex-wrap: wrap;
  }
  .rightContent {
    display: none;
    width: var(--width-390);
    height: var(--height-auto);
    padding-left: var(--padding-24);
    padding-right: var(--padding-24);
    padding-bottom: var(--padding-32);
    box-sizing: border-box;
  }
  .bodySerum {
    display: none;
  }
  .faceToner2 {
    align-self: stretch;
    width: 100%;
  }
  .faceToner2,
  .total {
    display: block;
  }
  .dropdown {
    width: var(--width-342);
  }
  .orderSummaryDropdown {
    display: flex;
  }
  .showOrderSummary2 {
    display: none;
  }
  .keyboardArrowUpIcon {
    display: block;
  }
  .productsWrapper2 {
    display: flex;
  }
  .checkoutNavigation {
    display: flex;
    align-self: stretch;
    width: 100%;
    flex-direction: row;
    gap: 1051px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .vectorIcon {
    background-color: var(--Black);
    display: block;
    width: var(--width-120);
    height: var(--height-18_4);
  }
  .checkoutContainer {
    display: flex;
    align-self: stretch;
    width: 100%;
    height: var(--height-auto);
    flex-direction: row;
    gap: var(--gap-0);
    align-items: center;
    justify-content: flex-start;
  }
  .blockExpressCheckoutWal,
  .blockExpressCheckoutWal2,
  .blockExpressCheckoutWal3 {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--gap-10);
    align-items: center;
    justify-content: center;
    padding: var(--padding-14) 121px;
    box-sizing: border-box;
  }
  .blockExpressCheckoutWal2,
  .blockExpressCheckoutWal3 {
    padding: var(--padding-14) var(--padding-124);
  }
  .logoIcon2 {
    display: block;
    width: 78.2px;
    gap: var(--gap-0);
  }
  .logoIcon3,
  .logoIcon4,
  .logoIcon5 {
    display: block;
    width: 50.9px;
    gap: var(--gap-0);
  }
  .logoIcon4,
  .logoIcon5 {
    width: 86px;
  }
  .logoIcon5 {
    width: 85px;
    height: 16.1px;
  }
  .contact,
  .placeholder {
    font-weight: 500;
    letter-spacing: -0.06em;
    line-height: 100%;
    text-align: left;
    display: block;
    height: var(--height-auto);
  }
  .contact {
    align-self: stretch;
    width: 100%;
  }
  .placeholder {
    flex: 1;
  }
  .checkboxIcon {
    background-color: var(--White);
    display: flex;
    flex-direction: row;
    gap: var(--gap-0);
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  .form2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .delivery,
  .form2,
  .inputAlt2 {
    align-self: stretch;
    width: 100%;
    height: var(--height-auto);
  }
  .delivery {
    font-weight: 500;
    letter-spacing: -0.06em;
    line-height: 100%;
    text-align: left;
    display: block;
  }
  .inputAlt2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .keyboardArrowDownIcon2 {
    background-color: var(--Black);
    display: block;
    width: var(--width-7_5);
    height: var(--height-4_5);
  }
  .placeholder7 {
    font-weight: 500;
    letter-spacing: -0.06em;
    line-height: 100%;
    text-align: left;
    display: block;
    flex: 1;
    height: var(--height-auto);
  }
  .inputAlt8 {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .inputAlt8,
  .prices,
  .radiobutton {
    height: var(--height-auto);
  }
  .radiobutton {
    display: flex;
    width: var(--width-auto);
    align-self: unset;
    flex-direction: row;
    gap: var(--gap-8);
    align-items: center;
    justify-content: flex-start;
  }
  .prices {
    font-weight: 500;
    letter-spacing: -0.06em;
    line-height: 100%;
    text-align: right;
    display: block;
    align-self: stretch;
    width: 100%;
  }
  .paymentMethodIcon2 {
    display: block;
    height: var(--height-24);
    gap: var(--gap-0);
  }
  .lettersIcon {
    background-color: var(--White);
    display: block;
    width: 34px;
    height: 13.1px;
  }
  .input10,
  .input12 {
    display: flex;
    align-self: stretch;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    backdrop-filter: blur(52px);
  }
  .input10 {
    gap: var(--gap-8);
  }
  .input12 {
    height: var(--height-auto);
  }
  .arrowRightAltIcon2 {
    background-color: var(--Black);
    display: block;
    width: var(--width-10);
    height: var(--height-7_5);
  }
  .paymentMethodsIcon {
    display: block;
    width: 86px;
    height: 23px;
    gap: var(--gap-0);
  }
  .button,
  .checkbox3 {
    display: flex;
    flex-direction: row;
    gap: var(--gap-8);
    align-items: center;
    justify-content: flex-start;
  }
  .button {
    align-self: stretch;
    width: 100%;
    height: var(--height-auto);
    gap: var(--gap-24);
    justify-content: center;
    box-sizing: border-box;
    backdrop-filter: blur(52px);
  }
  .amountsValues,
  .priceValue,
  .total2,
  .totalPrice {
    font-weight: 500;
    letter-spacing: -0.06em;
    line-height: 100%;
    text-align: left;
    display: block;
    width: var(--width-auto);
    align-self: unset;
    height: var(--height-auto);
  }
  .amountsValues,
  .total2,
  .totalPrice {
    text-align: right;
  }
  .total2,
  .totalPrice {
    text-align: left;
  }
  .totalPrice {
    text-align: right;
  }
  .keyboardArrowDownIcon11 {
    background-color: var(--Gray-3);
    display: block;
    width: 11.3px;
    height: 6.7px;
  }
}