.desktop {
  width: 100%;
  position: relative;
  background-color: var(--White);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  isolation: isolate;
}
.hero {
  align-self: stretch;
  height: 800px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-end;
  padding: var(--padding-56) var(--padding-40);
  box-sizing: border-box;
  background-image: url(/Hero@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 0;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--White);
  font-family: var(--font-inter);
}
.hero,
.heroOffer,
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.heroOffer {
  width: var(--width-588);
  gap: var(--gap-24);
}
.text {
  align-self: stretch;
  gap: var(--gap-16);
}
.discoverNaturesFinest,
.glowWithNatures {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.discoverNaturesFinest {
  text-transform: uppercase;
}
.glowWithNatures {
  margin: 0;
  font-size: 56px;
  font-family: inherit;
}
.products {
  align-self: stretch;
  background-color: var(--White);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-56) var(--padding-40);
  gap: var(--gap-32);
  z-index: 1;
  text-align: left;
  font-size: var(--fs-40);
  color: var(--Black);
  font-family: var(--font-inter);
}
.bestSellers {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  font-family: inherit;
}
.product,
.productsWrapper {
  display: flex;
  align-items: flex-start;
}
.productsWrapper {
  align-self: stretch;
  gap: var(--gap-24);
  text-align: left;
  font-size: var(--fs-16);
  color: var(--Black);
  font-family: var(--font-inter);
}
.product {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-8);
}
.image {
  align-self: stretch;
  height: var(--height-324);
  position: relative;
  border-radius: var(--br-8);
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(/Image14@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.productInfo {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-8);
}
.faceToner {
  flex: 1;
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.price {
  display: flex;
  align-items: center;
  gap: var(--gap-4);
  color: var(--Gray-3);
}
.priceSymbol,
.priceValue {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.priceSymbol {
  text-decoration: line-through;
}
.priceValue {
  color: var(--Black);
}
.image2 {
  align-self: stretch;
  height: var(--height-324);
  position: relative;
  border-radius: var(--br-8);
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(/Image13@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.serumPrice {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.categorySection,
.categoryWrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.categorySection {
  background-color: var(--White);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-01) var(--padding-40) var(--padding-56);
  gap: var(--gap-32);
  z-index: 2;
  text-align: left;
  font-size: var(--fs-40);
  color: var(--Black);
  font-family: var(--font-inter);
}
.categoryWrapper {
  gap: var(--gap-24);
}
.imageWrapper {
  height: var(--height-440);
  flex: 1;
  display: flex;
  align-items: center;
}
.category {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.image3,
.image4 {
  flex: 1;
  border-radius: var(--br-8);
  justify-content: flex-end;
  padding: var(--padding-16);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image3 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url(/Image@3x.png);
}
.image4 {
  background-image: url(/Image1@3x.png);
}
.image4,
.image5,
.products2 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.image5 {
  flex: 1;
  border-radius: var(--br-8);
  justify-content: flex-end;
  padding: var(--padding-16);
  background-image: url(/Image2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.products2 {
  background-color: var(--White);
  flex-shrink: 0;
  padding: var(--padding-01) var(--padding-40) var(--padding-56);
  gap: var(--gap-32);
  z-index: 3;
  text-align: left;
  font-size: var(--fs-40);
  color: var(--Black);
  font-family: var(--font-inter);
}
.div {
  position: relative;
  text-decoration: line-through;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.div2 {
  color: var(--Black);
}
.div2,
.div3 {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.image8,
.image9,
.itemsGrid {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: var(--fs-24);
  font-family: var(--font-inter);
}
.itemsGrid {
  align-self: stretch;
  background-color: var(--White);
  flex-shrink: 0;
  padding: var(--padding-01) var(--padding-40) var(--padding-56);
  z-index: 6;
  color: var(--Black);
}
.image8,
.image9 {
  height: var(--height-588);
  flex: 1;
  border-radius: var(--br-8);
  justify-content: flex-end;
  padding: var(--padding-32);
  box-sizing: border-box;
  gap: var(--gap-24);
  background-image: url(/Image3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: var(--White);
}
.image9 {
  background-image: url(/Image4@3x.png);
  color: var(--Black);
}
.giftTheGlow {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  font-family: inherit;
}
.image10 {
  height: var(--height-384);
  width: var(--width-384);
  border-radius: var(--br-8);
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-32);
  box-sizing: border-box;
  gap: var(--gap-24);
  background-image: url(/Image5@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.giftTheGlow2 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.globalNavigationMobile {
  width: var(--width-390);
  height: var(--height-67);
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--White);
  border-bottom: var(--border-1);
  box-sizing: border-box;
  flex-shrink: 0;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-24);
  gap: var(--gap-20);
  z-index: 12;
}
.leftContent {
  display: flex;
  align-items: center;
  gap: var(--gap-16);
  flex-shrink: 0;
}
.menuIcon {
  height: var(--height-24);
  width: var(--width-24);
  position: relative;
}
.links,
.menuIcon,
.searchIcon {
  cursor: pointer;
  border: 0;
  padding: var(--padding-0);
  background-color: transparent;
}
.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-16);
  flex-shrink: 0;
}
.searchIcon {
  width: var(--width-24);
  position: relative;
  max-height: 100%;
}
.bag0 {
  position: relative;
  font-size: var(--fs-16);
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--Black);
  text-align: left;
  text-decoration: none;
}
@media screen and (max-width: 390px) {
  .hero {
    padding-left: var(--padding-24);
    padding-right: var(--padding-24);
  }
  .heroOffer {
    align-self: stretch;
    width: 100%;
  }
  .products {
    padding-left: var(--padding-24);
    padding-right: var(--padding-24);
  }
  .bestSellers {
    font-size: var(--fs-32);
  }
  .product {
    flex: unset;
    align-self: stretch;
  }
  .image,
  .image2 {
    height: var(--height-392_94);
  }
  .categorySection {
    padding-left: var(--padding-24);
    padding-right: var(--padding-24);
  }
  .categoryWrapper {
    flex-direction: column;
  }
  .imageWrapper {
    height: var(--height-392);
    align-self: stretch;
  }
  .itemsGrid,
  .products2 {
    padding-left: var(--padding-24);
    padding-right: var(--padding-24);
  }
  .image8,
  .image9 {
    align-self: stretch;
  }
  .image8 {
    height: 400px;
    padding: var(--padding-24);
  }
  .image9 {
    display: none;
    width: var(--width-588);
  }
  .image10 {
    height: 400px;
    padding: var(--padding-24);
    box-sizing: border-box;
  }
  .globalNavigationMobile,
  .image10 {
    display: flex;
  }
  .glowWithNatures,
  .hero {
    align-self: stretch;
    width: 100%;
  }
  .hero {
    background-color: var(--color-gray-300);
    display: flex;
    height: 800px;
    flex-direction: column;
    gap: var(--gap-0);
    align-items: flex-start;
    justify-content: flex-end;
    box-sizing: border-box;
  }
  .glowWithNatures {
    font-weight: 500;
    font-size: 56px;
    letter-spacing: -0.06em;
    line-height: 100%;
    text-align: left;
    display: block;
    height: var(--height-auto);
  }
  .products {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .bestSellers,
  .products,
  .productsWrapper {
    align-self: stretch;
    width: 100%;
    height: var(--height-auto);
  }
  .bestSellers {
    font-weight: 500;
    letter-spacing: -0.06em;
    line-height: 100%;
    text-align: left;
    display: block;
  }
  .productsWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .priceSymbol,
  .priceValue,
  .serumPrice {
    font-weight: 500;
    letter-spacing: -0.06em;
    line-height: 100%;
    text-align: left;
    display: block;
    width: var(--width-auto);
    align-self: unset;
    height: var(--height-auto);
  }
  .categorySection {
    display: flex;
    align-self: stretch;
    width: 100%;
    height: var(--height-auto);
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .categorySection,
  .imageWrapper,
  .products2 {
    justify-content: flex-start;
  }
  .imageWrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: var(--gap-0);
    align-items: center;
  }
  .products2 {
    align-self: stretch;
    width: 100%;
    height: var(--height-auto);
  }
  .image8,
  .image9,
  .itemsGrid,
  .products2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .itemsGrid {
    align-self: stretch;
    width: 100%;
    height: var(--height-auto);
    gap: var(--gap-32);
    justify-content: flex-start;
  }
  .image8,
  .image9 {
    flex: 1;
    justify-content: flex-end;
  }
  .giftTheGlow {
    font-weight: 500;
    letter-spacing: -0.06em;
    line-height: 100%;
    text-align: left;
    display: block;
    align-self: stretch;
    width: 100%;
    height: var(--height-auto);
  }
  .menuIcon {
    display: block;
    gap: var(--gap-0);
  }
  .links {
    display: flex;
    width: var(--width-auto);
    align-self: unset;
    height: var(--height-auto);
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .searchIcon {
    display: block;
    height: var(--height-24);
    gap: var(--gap-0);
  }
}
