.desktop {
  width: 100%;
  position: relative;
  background-color: var(--White);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  isolation: isolate;
  line-height: normal;
  letter-spacing: normal;
}
.hero {
  align-self: stretch;
  height: 800px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-end;
  padding: var(--padding-56) var(--padding-40);
  box-sizing: border-box;
  background-image: url(/Hero@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 0;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--White);
  font-family: var(--font-inter);
}
.hero,
.heroOffer,
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.heroOffer {
  width: 588px;
  gap: var(--gap-24);
}
.text {
  align-self: stretch;
  gap: var(--gap-16);
}
.discoverNaturesFinest,
.glowWithNatures {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.discoverNaturesFinest {
  text-transform: uppercase;
}
.glowWithNatures {
  margin: 0;
  font-size: 56px;
  font-family: inherit;
}
.products {
  align-self: stretch;
  background-color: var(--White);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-56) var(--padding-40);
  gap: var(--gap-32);
  z-index: 1;
  text-align: left;
  font-size: var(--fs-40);
  color: var(--Black);
  font-family: var(--font-inter);
}
.bestSellers {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  font-family: inherit;
}
.productsWrapper {
  align-self: stretch;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-24);
  text-align: left;
  font-size: var(--fs-16);
  color: var(--Black);
  font-family: var(--font-inter);
}
.image,
.product,
.productInfo,
.productsWrapper {
  display: flex;
  align-items: flex-start;
}
.product {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-8);
  min-width: var(--min-w-259);
  max-width: var(--max-w-282);
}
.image,
.productInfo {
  align-self: stretch;
}
.image {
  height: var(--height-324);
  border-radius: var(--br-8);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-end;
  padding: var(--padding-16);
  box-sizing: border-box;
  background-image: url(/Image@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.productInfo {
  gap: var(--gap-8);
}
.faceToner {
  flex: 1;
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.price {
  display: flex;
  align-items: center;
  gap: var(--gap-4);
  color: var(--Gray-3);
}
.priceSymbol,
.priceValue {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.priceSymbol {
  text-decoration: line-through;
}
.priceValue {
  color: var(--Black);
}
.image2 {
  align-self: stretch;
  height: var(--height-324);
  border-radius: var(--br-8);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-16);
  box-sizing: border-box;
  background-image: url(/Image1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.serumPrice {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.categorySection,
.categoryWrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.categorySection {
  background-color: var(--White);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-40) var(--padding-56);
  gap: var(--gap-32);
  z-index: 2;
  text-align: left;
  font-size: var(--fs-40);
  color: var(--Black);
  font-family: var(--font-inter);
}
.categoryWrapper {
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-24);
}
.imageWrapper {
  height: 440px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: var(--min-w-288);
}
.category,
.image3,
.image4,
.image5 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.image3,
.image4,
.image5 {
  border-radius: var(--br-8);
  overflow: hidden;
  justify-content: flex-end;
  padding: var(--padding-16);
  background-image: url(/Image2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image4,
.image5 {
  background-image: url(/Image3@3x.png);
}
.image5 {
  background-image: url(/Image4@3x.png);
}
.image8,
.itemsGrid,
.products2 {
  display: flex;
  text-align: left;
  font-family: var(--font-inter);
}
.products2 {
  align-self: stretch;
  background-color: var(--White);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-40) var(--padding-56);
  gap: var(--gap-32);
  z-index: 3;
  font-size: var(--fs-40);
  color: var(--Black);
}
.image8,
.itemsGrid {
  font-size: var(--fs-24);
}
.itemsGrid {
  align-self: stretch;
  background-color: var(--White);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-40) var(--padding-56);
  z-index: 6;
  color: var(--Black);
}
.image8 {
  height: 588px;
  flex: 1;
  background-image: url(/Image7@3x.png);
  min-width: 441px;
  color: var(--White);
}
.image10,
.image8,
.image9 {
  border-radius: var(--br-8);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-32) var(--padding-20) var(--padding-32)
    var(--padding-32);
  box-sizing: border-box;
  gap: var(--gap-24);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image9 {
  height: 588px;
  flex: 1;
  display: flex;
  background-image: url(/Image11@3x.png);
  min-width: 441px;
  text-align: left;
  font-size: var(--fs-24);
  color: var(--Black);
  font-family: var(--font-inter);
}
.image10 {
  height: 384px;
  width: var(--width-384);
  display: none;
  background-image: url(/Image12@3x.png);
}
.giftTheGlow2 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.globalNavigationMobile {
  width: 390px;
  height: var(--height-67);
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--White);
  border-bottom: var(--border-1);
  box-sizing: border-box;
  flex-shrink: 0;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-24);
  gap: var(--gap-20);
  z-index: 12;
}
.leftContent {
  display: flex;
  align-items: center;
  gap: var(--gap-16);
  flex-shrink: 0;
}
.menuIcon {
  height: var(--height-24);
  width: var(--width-24);
  position: relative;
}
.links,
.menuIcon,
.searchIcon {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
}
.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-16);
  flex-shrink: 0;
}
.searchIcon {
  width: var(--width-24);
  position: relative;
  max-height: 100%;
}
.bag0 {
  position: relative;
  font-size: var(--fs-16);
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--Black);
  text-align: left;
  text-decoration: none;
}