.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8) var(--padding-16);
  border-radius: var(--br-8);
  font-family: var(--font-inter);
  font-size: var(--fs-16);
  font-weight: 500;
  letter-spacing: -0.06em;
  line-height: 100%;
  white-space: nowrap;
}
.red {
  composes: badge;
  background-color: var(--White);
  color: var(--Red);
}
.dark {
  composes: badge;
  background-color: var(--White);
  color: var(--Black);
}
.gray {
  composes: badge;
  background-color: var(--Gray-2);
  color: var(--Black);
  text-transform: uppercase;
}
.floating {
  position: absolute;
  top: 16px;
  right: 16px;
}
