.root {
  cursor: pointer;
  border: 0;
  padding: var(--padding-24) var(--padding-48);
  background-color: var(--color-gray);
  backdrop-filter: blur(52px);
  border-radius: var(--br-8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.root[data-color="Dark"] {
  border: 1px solid var(--Gray-3);
  background-color: transparent;
}
.root[data-color="Dark"] .buttonLabel {
  color: var(--Black);
}
.buttonLabel {
  position: relative;
  font-size: var(--fs-16);
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--White);
  text-align: left;
}
