.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-24) var(--padding-48);
  border-radius: var(--br-8);
  font-family: var(--font-inter);
  font-size: var(--fs-16);
  font-weight: 500;
  letter-spacing: -0.06em;
  line-height: 100%;
  cursor: pointer;
  border: none;
  white-space: nowrap;
  text-decoration: none;
}
.bright {
  composes: button;
  backdrop-filter: blur(52px);
  background-color: rgba(255, 255, 255, 0.16);
  color: var(--White);
}
.dark {
  composes: button;
  backdrop-filter: blur(52px);
  background-color: transparent;
  border: var(--border-2);
  color: var(--Black);
}
.solid {
  composes: button;
  background-color: var(--Black);
  color: var(--White);
}
.fullWidth {
  align-self: stretch;
  width: 100%;
}
