.button {
  cursor: pointer;
  border: var(--border-2);
  padding: var(--padding-24) var(--padding-48);
  background-color: transparent;
  backdrop-filter: blur(52px);
  border-radius: var(--br-8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonLabel {
  position: relative;
  font-size: var(--fs-16);
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--Black);
  text-align: left;
}
@media screen and (max-width: 390px) {
  .button {
    display: flex;
    width: var(--width-auto);
    align-self: unset;
    height: var(--height-auto);
    flex-direction: row;
    gap: var(--gap-24);
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    backdrop-filter: blur(52px);
  }
}
