.filter {
  width: var(--width-282);
  display: flex;
  flex-direction: column;
  gap: var(--gap-8);
  align-items: flex-start;
  font-family: var(--font-inter);
  flex-shrink: 0;
}
.filterTitle {
  font-size: var(--fs-24);
  font-weight: 500;
  letter-spacing: -0.06em;
  line-height: 100%;
  color: var(--Black);
  align-self: stretch;
}
.filterGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--gap-24);
  align-items: flex-start;
}
.accordion {
  align-self: stretch;
  border-bottom: var(--border-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-16) 0;
}
.accordionLabel {
  flex: 1;
  font-size: var(--fs-16);
  font-weight: 500;
  letter-spacing: -0.06em;
  line-height: 100%;
  color: var(--Black);
  text-transform: uppercase;
}
.accordionIcon {
  width: 16px;
  height: 16px;
}
.optionList {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--gap-16);
  align-items: flex-start;
}
.checkbox {
  align-self: stretch;
  display: flex;
  gap: var(--gap-8);
  align-items: center;
  cursor: pointer;
}
.checkboxIcon {
  width: 24px;
  height: 24px;
  border-radius: var(--br-6);
  border: var(--border-1);
  background-color: var(--White);
  flex-shrink: 0;
}
.checkboxLabel {
  font-size: var(--fs-16);
  font-weight: 500;
  letter-spacing: -0.06em;
  line-height: 100%;
  color: var(--Black);
  white-space: nowrap;
}
.variants {
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-8);
  align-items: flex-start;
}
.variant {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8) var(--padding-16);
  border-radius: var(--br-8);
  border: var(--border-1);
  background-color: var(--White);
  font-size: var(--fs-16);
  font-weight: 500;
  letter-spacing: -0.06em;
  line-height: 100%;
  color: var(--Black);
  white-space: nowrap;
  cursor: pointer;
}

@media (max-width: 768px) {
  .filter {
    width: 100%;
  }
}
