.divider,
.footer {
  align-self: stretch;
  border-top: var(--border-1);
}
.footer {
  background-color: var(--White);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-56) var(--padding-40);
  gap: var(--gap-40);
  z-index: 3;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--Gray-3);
  font-family: var(--font-inter);
}
.divider {
  height: var(--height-1);
  position: relative;
  box-sizing: border-box;
}
.bottomContent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-20);
}
.skinclinic {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.legalLinks {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-16);
}
.cookiesSettings,
.privacyPolicy,
.termsOfService {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
@media screen and (max-width: 1970px) {
  .footer {
    padding-left: var(--padding-24);
    padding-right: var(--padding-24);
    box-sizing: border-box;
  }
  .bottomContent {
    flex-direction: column;
    gap: var(--gap-32);
    justify-content: flex-start;
  }
  .legalLinks {
    align-self: stretch;
    width: 100%;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 390px) {
  .footer {
    display: flex;
    align-self: stretch;
    width: 100%;
    height: var(--height-auto);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
}
