.fullImageSection,
.imageWrapper {
  align-self: stretch;
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.fullImageSection {
  background-color: var(--White);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-40) var(--padding-56);
  z-index: 7;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--White);
  font-family: var(--font-inter);
}
.imageWrapper {
  height: var(--height-700);
  border-radius: var(--br-8);
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-56);
  gap: var(--gap-20);
  background-image: url(/Image-Wrapper@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.heroOffer,
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.heroOffer {
  width: var(--width-588);
  gap: var(--gap-24);
  max-width: 100%;
}
.text {
  align-self: stretch;
  gap: var(--gap-16);
}
.essenceForA,
.pureHydrationIn {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.essenceForA {
  text-transform: uppercase;
}
.pureHydrationIn {
  margin: 0;
  font-size: var(--fs-40);
  font-family: inherit;
}
.button,
.imageIcon {
  border-radius: var(--br-8);
}
.button {
  width: var(--width-300);
  backdrop-filter: blur(52px);
  background-color: var(--color-gray);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  padding: var(--padding-16);
  box-sizing: border-box;
  gap: var(--gap-16);
}
.imageIcon {
  width: var(--width-100);
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.rightText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8);
}
.faceToner {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.price {
  display: flex;
  align-items: center;
  gap: var(--gap-4);
  color: var(--Gray-1);
}
.space,
.space2 {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.space {
  text-decoration: line-through;
}
.space2 {
  color: var(--White);
}