.header,
.logIn {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
.header {
  padding: var(--padding-01) var(--padding-01) var(--padding-100);
  width: var(--width-1970);
  border-bottom: var(--border-31);
  box-sizing: border-box;
  max-width: 100%;
  display: flex;
  align-items: center;
}
.logIn {
  padding: var(--padding-0);
  flex: 1;
  position: relative;
  font-size: var(--fs-200);
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--Black);
  text-align: left;
  display: inline-block;
}
@media screen and (max-width: 390px) {
  .header,
  .logIn {
    height: var(--height-auto);
  }
  .header {
    display: flex;
    flex-direction: row;
    gap: var(--gap-0);
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .logIn {
    font-weight: 500;
    letter-spacing: -0.06em;
    line-height: 100%;
    text-align: left;
    display: block;
    flex: 1;
  }
}
