.header {
  width: var(--width-1970);
  border-bottom: var(--border-31);
  box-sizing: border-box;
  max-width: 100%;
  display: flex;
  align-items: center;
  padding: var(--padding-01) var(--padding-01) var(--padding-100);
  text-align: left;
  font-size: var(--fs-200);
  color: var(--Black);
  font-family: var(--font-inter);
}
.homepage {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  font-family: inherit;
}
@media screen and (max-width: 390px) {
  .homepage {
    font-weight: 500;
    letter-spacing: -0.06em;
    line-height: 100%;
    text-align: left;
    display: block;
    flex: 1;
    height: var(--height-auto);
  }
}
