.container,
.imageLeftSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imageLeftSection {
  align-self: stretch;
  background-color: var(--White);
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-160) var(--padding-40) var(--padding-112);
  z-index: 0;
  text-align: left;
  font-size: var(--fs-40);
  color: var(--Black);
  font-family: var(--font-inter);
}
.container {
  width: var(--width-588);
  gap: var(--gap-32);
}
.frequentlyAskedQuestions {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  font-family: inherit;
}
.orders,
.theme {
  align-self: stretch;
}
.theme {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8);
  text-align: left;
  font-size: var(--fs-16);
  color: var(--Gray-3);
  font-family: var(--font-inter);
}
.orders {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
}
.accordionWrapper {
  flex-direction: column;
  align-items: flex-start;
  color: var(--Black);
}
.accordion,
.accordionWrapper,
.top {
  align-self: stretch;
  display: flex;
}
.accordion {
  border-bottom: var(--border-1);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-16) var(--padding-01);
}
.top {
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-0);
}
.accordionHeader {
  flex: 1;
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.addIcon {
  width: var(--width-16);
  position: relative;
  max-height: 100%;
}
@media screen and (max-width: 1970px) {
  .imageLeftSection {
    padding: var(--padding-112) var(--padding-24) var(--padding-56);
    box-sizing: border-box;
  }
  .container {
    align-self: stretch;
    width: 100%;
  }
  .frequentlyAskedQuestions {
    font-size: var(--fs-32);
  }
}
@media screen and (max-width: 390px) {
  .imageLeftSection {
    display: flex;
    flex-direction: column;
    gap: var(--gap-32);
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .frequentlyAskedQuestions,
  .imageLeftSection,
  .theme {
    align-self: stretch;
    width: 100%;
    height: var(--height-auto);
  }
  .frequentlyAskedQuestions {
    font-weight: 500;
    letter-spacing: -0.06em;
    line-height: 100%;
    text-align: left;
    display: block;
  }
  .theme {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .addIcon {
    display: block;
    height: var(--height-16);
    gap: var(--gap-0);
  }
}
