.imageWrapper,
.textInput {
  display: flex;
  flex-direction: column;
}
.imageWrapper {
  align-self: stretch;
  height: var(--height-700);
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: var(--padding-56);
  box-sizing: border-box;
  background-image: url(/Image-Wrapper11@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 5;
  text-align: left;
  font-size: var(--fs-40);
  color: var(--White);
  font-family: var(--font-inter);
}
.textInput {
  width: var(--width-384);
  align-items: flex-start;
  gap: var(--gap-16);
}
.getExclusiveAccess,
.subscribeForExclusive {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.subscribeForExclusive {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.getExclusiveAccess {
  font-size: var(--fs-16);
}
@media screen and (max-width: 390px) {
  .imageWrapper {
    display: flex;
    align-self: stretch;
    width: 100%;
    flex-direction: column;
    gap: var(--gap-0);
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  .textInput {
    height: var(--height-auto);
  }
  .subscribeForExclusive {
    font-weight: 500;
    letter-spacing: -0.06em;
    line-height: 100%;
    text-align: left;
    display: block;
  }
  .getExclusiveAccess,
  .subscribeForExclusive {
    align-self: stretch;
    width: 100%;
    height: var(--height-auto);
  }
}