.container,
.imageLeftSection {
  align-self: stretch;
  display: flex;
}
.imageLeftSection {
  background-color: var(--White);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-40) var(--padding-56);
  z-index: 4;
}
.container {
  align-items: center;
  gap: var(--gap-24);
}
.imageIcon {
  flex: 1;
  border-radius: var(--br-8);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-width: var(--min-w-382);
}
.text,
.textButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.textButton {
  flex: 0.6906;
  padding: var(--padding-20) var(--padding-102);
  box-sizing: border-box;
  gap: var(--gap-24);
  min-width: var(--min-w-382);
  text-align: left;
  font-size: var(--fs-40);
  color: var(--Black);
  font-family: var(--font-inter);
}
.text {
  align-self: stretch;
  gap: var(--gap-16);
}
.hydrateRevitalize,
.indulgeYourSkin {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.hydrateRevitalize {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.indulgeYourSkin {
  font-size: var(--fs-16);
  color: var(--Gray-3);
}
@media screen and (max-width: 390px) {
  .container,
  .imageLeftSection {
    display: flex;
    align-self: stretch;
    width: 100%;
    height: var(--height-auto);
    justify-content: flex-start;
  }
  .imageLeftSection {
    flex-direction: column;
    gap: var(--gap-32);
    align-items: flex-start;
    box-sizing: border-box;
  }
  .container {
    flex-direction: row;
    align-items: center;
  }
  .imageIcon,
  .textButton {
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
  }
  .imageIcon {
    height: var(--height-588);
    gap: var(--gap-8);
    align-items: flex-end;
    justify-content: flex-end;
    padding: var(--padding-16);
  }
  .textButton {
    height: var(--height-auto);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .hydrateRevitalize,
  .text {
    align-self: stretch;
    width: 100%;
    height: var(--height-auto);
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .hydrateRevitalize {
    font-weight: 500;
    letter-spacing: -0.06em;
    line-height: 100%;
    text-align: left;
    display: block;
  }
}
