.container,
.imageLeftSection {
  align-self: stretch;
  display: flex;
}
.imageLeftSection {
  background-color: var(--White);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-01) var(--padding-40) var(--padding-56);
  z-index: 2;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--Black);
  font-family: var(--font-inter);
}
.container {
  align-items: center;
  gap: var(--gap-24);
}
.text,
.textButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.textButton {
  flex: 0.6906;
  padding: var(--padding-01) var(--padding-102);
}
.text {
  align-self: stretch;
  gap: var(--gap-16);
}
.glowWithConfidence {
  text-transform: uppercase;
}
.glowWithConfidence,
.ourPromiseTo,
.wereHereTo {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.ourPromiseTo {
  margin: 0;
  font-size: var(--fs-40);
  font-family: inherit;
}
.wereHereTo {
  color: var(--Gray-3);
}
.imageIcon {
  flex: 1;
  border-radius: var(--br-8);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 390px) {
  .imageLeftSection {
    display: flex;
    align-self: stretch;
    width: 100%;
    height: var(--height-auto);
    gap: var(--gap-32);
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .container,
  .imageLeftSection {
    flex-direction: column;
  }
  .container,
  .glowWithConfidence,
  .text,
  .textButton {
    align-self: stretch;
    width: 100%;
    height: var(--height-auto);
  }
  .ourPromiseTo {
    font-weight: 500;
    letter-spacing: -0.06em;
    line-height: 100%;
    text-align: left;
    display: block;
  }
  .imageIcon,
  .ourPromiseTo,
  .wereHereTo {
    align-self: stretch;
    width: 100%;
    height: var(--height-auto);
  }
  .imageIcon {
    display: flex;
    height: var(--height-588);
    flex-direction: column;
    gap: var(--gap-8);
    align-items: flex-end;
    justify-content: flex-end;
    padding: var(--padding-16);
    box-sizing: border-box;
    flex: unset;
  }
}
