.input {
  align-self: stretch;
  backdrop-filter: blur(52px);
  border-bottom: var(--border-21);
  display: flex;
  align-items: center;
  padding: var(--padding-24) var(--padding-01);
  gap: var(--gap-8);
}
.placeholder {
  width: var(--width-calc100-10);
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: var(--fs-16);
  background-color: transparent;
  flex: 1;
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  color: var(--White);
  text-align: left;
  display: inline-block;
}
@media screen and (max-width: 390px) {
  .placeholder {
    font-weight: 500;
    letter-spacing: -0.06em;
    line-height: 100%;
    text-align: left;
    display: block;
    flex: 1;
    height: var(--height-auto);
  }
}