.inputAlt {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8);
  text-align: left;
  font-size: var(--fs-16);
  color: var(--Black);
  font-family: var(--font-inter);
}
.input,
.label {
  align-self: stretch;
  flex-shrink: 0;
}
.label {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.input {
  backdrop-filter: blur(52px);
  border-radius: var(--br-8);
  background-color: var(--White);
  border: var(--border-1);
  display: flex;
  align-items: center;
  padding: var(--padding-24);
  gap: var(--gap-8);
}
.placeholder {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: var(--fs-16);
  background-color: transparent;
  flex: 1;
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  color: var(--Gray-3);
  text-align: left;
  display: inline-block;
}
.arrow {
  height: var(--height-16);
  width: var(--width-16);
  position: relative;
}
.arrowRightAltIcon {
  position: absolute;
  height: 46.88%;
  width: 62.5%;
  top: 26.25%;
  right: 18.75%;
  bottom: 26.88%;
  left: 18.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.hintText {
  width: var(--width-300);
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  color: var(--Gray-3);
  flex-shrink: 0;
}
@media screen and (max-width: 390px) {
  .placeholder {
    font-weight: 500;
    letter-spacing: -0.06em;
    line-height: 100%;
    text-align: left;
    display: block;
    flex: 1;
    height: var(--height-auto);
  }
}
