.header,
.instagramSection {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.instagramSection {
  background-color: var(--White);
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-0) var(--padding-40) var(--padding-56);
  gap: var(--gap-32);
  z-index: 4;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--Gray-3);
  font-family: var(--font-inter);
}
.header {
  gap: var(--gap-16);
}
.followUsOn,
.skinclinic {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.followUsOn {
  text-transform: uppercase;
}
.skinclinic {
  margin: 0;
  font-size: var(--fs-40);
  font-family: inherit;
  color: var(--Black);
}
.categoryWrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-24);
}
.instagramImageIcon {
  flex: 1;
  border-radius: var(--br-8);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 390px) {
  .instagramSection {
    padding-left: var(--padding-24);
    padding-right: var(--padding-24);
    box-sizing: border-box;
  }
  .skinclinic {
    font-size: var(--fs-32);
  }
  .categoryWrapper {
    gap: var(--gap-16);
  }
  .instagramImageIcon {
    width: var(--width-253);
    height: var(--height-253);
  }
}
