.header,
.instagramSection {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.instagramSection {
  background-color: var(--White);
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-0) var(--padding-40) var(--padding-56);
  gap: var(--gap-32);
  z-index: 9;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--Gray-3);
  font-family: var(--font-inter);
}
.header {
  gap: var(--gap-16);
}
.followUsOn,
.skinclinic {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.followUsOn {
  text-transform: uppercase;
}
.skinclinic {
  margin: 0;
  font-size: var(--fs-40);
  font-family: inherit;
  color: var(--Black);
}
.categoryWrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-24);
}
.instagramImageIcon {
  flex: 1;
  border-radius: var(--br-8);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 390px) {
  .instagramSection {
    align-self: stretch;
    width: 100%;
    height: var(--height-auto);
    box-sizing: border-box;
  }
  .header,
  .instagramSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .categoryWrapper,
  .header,
  .skinclinic {
    align-self: stretch;
    width: 100%;
    height: var(--height-auto);
  }
  .skinclinic {
    font-weight: 500;
    letter-spacing: -0.06em;
    line-height: 100%;
    text-align: left;
    display: block;
  }
  .categoryWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
  }
  .instagramImageIcon {
    display: flex;
    flex: 1;
    height: var(--height-220_8);
    flex-direction: column;
    gap: var(--gap-0);
    align-items: center;
    justify-content: center;
  }
}
