.product {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8);
  text-align: left;
  font-size: var(--fs-16);
  color: var(--Black);
  font-family: var(--font-inter);
}
.imageIcon {
  position: relative;
  border-radius: var(--br-8);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.imageIcon,
.imageIcon2,
.productInfo {
  align-self: stretch;
  flex-shrink: 0;
}
.imageIcon2 {
  position: relative;
  border-radius: var(--br-8);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.productInfo {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-8);
}
.faceMask {
  width: var(--width-283);
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  display: none;
}
.bodyWash {
  flex: 1;
}
.bodyWash,
.div {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
@media screen and (max-width: 390px) {
  .imageIcon {
    display: block;
  }
  .imageIcon2 {
    display: none;
  }
  .faceMask {
    display: block;
    flex: 1;
  }
  .bodyWash {
    display: none;
  }
}
