.products {
  align-self: stretch;
  background-color: var(--White);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px var(--padding-40) var(--padding-56);
  gap: var(--gap-32);
  z-index: 0;
  text-align: left;
  font-size: var(--fs-40);
  color: var(--Black);
  font-family: var(--font-inter);
}
.allProducts {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  font-family: inherit;
}
.filterProducts {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-24);
  font-size: var(--fs-16);
}
.filterMobile {
  width: var(--width-342);
  display: none;
  flex-direction: column;
  align-items: flex-start;
}
.products2,
.row {
  display: flex;
  gap: var(--gap-24);
}
.products2 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.row {
  align-self: stretch;
  align-items: center;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--Black);
  font-family: var(--font-inter);
}
.product {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8);
}
.image {
  align-self: stretch;
  height: var(--height-324);
  position: relative;
  border-radius: var(--br-8);
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(/Image13@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.productInfo {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-8);
}
.bodySerum {
  flex: 1;
}
.bodySerum,
.div {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.product2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8);
  color: var(--Red);
}
.image2 {
  align-self: stretch;
  height: var(--height-324);
  position: relative;
  border-radius: var(--br-8);
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(/Image14@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.productInfo2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-8);
  color: var(--Black);
}
.bodySerum2 {
  width: var(--width-223);
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  display: none;
  flex-shrink: 0;
}
.bodyWash {
  width: var(--width-283);
  display: none;
}
.bodyWash,
.div2,
.faceToner {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  flex-shrink: 0;
}
.div2 {
  display: none;
}
.faceToner {
  flex: 1;
}
.price {
  display: flex;
  align-items: center;
  gap: var(--gap-4);
  flex-shrink: 0;
  color: var(--Gray-3);
}
.priceSpacer {
  text-decoration: line-through;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.div3,
.image3,
.priceSpacer {
  position: relative;
}
.div3 {
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  color: var(--Black);
}
.image3 {
  align-self: stretch;
  height: var(--height-324);
  border-radius: var(--br-8);
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(/Image6@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.faceToner2 {
  width: 172px;
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  display: none;
}
.price2 {
  display: none;
  align-items: center;
  gap: var(--gap-4);
  color: var(--Gray-3);
}
.bodySerum3,
.div4 {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.div4 {
  text-decoration: line-through;
}
.bodySerum3 {
  width: var(--width-283);
  display: none;
}
.product4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8);
}
.image4 {
  align-self: stretch;
  height: var(--height-324);
  position: relative;
  border-radius: var(--br-8);
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(/Image13@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.faceToner3,
.price3 {
  display: none;
  flex-shrink: 0;
}
.faceToner3 {
  width: var(--width-232);
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.price3 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-4);
  color: var(--Gray-3);
}
.div9,
.image6 {
  position: relative;
  flex-shrink: 0;
}
.div9 {
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.image6 {
  align-self: stretch;
  height: var(--height-324);
  border-radius: var(--br-8);
  overflow: hidden;
  background-image: url(/Image14@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.price4 {
  display: flex;
  align-items: center;
  gap: var(--gap-4);
  color: var(--Gray-3);
}
.image7 {
  height: 392.9px;
  position: relative;
  border-radius: var(--br-8);
  overflow: hidden;
  background-image: url(/Image17@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: none;
}
.image7,
.image8,
.productInfo7 {
  align-self: stretch;
  flex-shrink: 0;
}
.image8 {
  height: var(--height-324);
  position: relative;
  border-radius: var(--br-8);
  overflow: hidden;
  background-image: url(/Image14@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.productInfo7 {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-8);
}
.faceMask {
  width: 137.5px;
  display: none;
}
.div13,
.faceMask,
.faceToner5 {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  flex-shrink: 0;
}
.div13 {
  display: none;
}
.faceToner5 {
  flex: 1;
}
.price5,
.row5 {
  align-items: center;
}
.price5 {
  display: flex;
  gap: var(--gap-4);
  flex-shrink: 0;
  color: var(--Gray-3);
}
.row5 {
  width: 894px;
  display: none;
  gap: var(--gap-24);
}
.image10 {
  align-self: stretch;
  height: var(--height-324);
  position: relative;
  border-radius: var(--br-8);
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(/Image6@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.div22,
.div23 {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.div23 {
  color: var(--Black);
}
.product11 {
  width: 159px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8);
}
.image12,
.productInfo11 {
  align-self: stretch;
  flex-shrink: 0;
}
.image12 {
  height: 182.7px;
  position: relative;
  border-radius: var(--br-8);
  overflow: hidden;
  background-image: url(/Image13@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.productInfo11 {
  display: none;
  align-items: flex-start;
  gap: var(--gap-8);
}
.faceToner9 {
  width: var(--width-232);
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.bodyWash8,
.faceToner9,
.price9 {
  display: none;
  flex-shrink: 0;
}
.price9 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-4);
  color: var(--Gray-3);
}
.bodyWash8 {
  width: var(--width-223);
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.bodySerum9 {
  flex: 1;
}
.bodySerum9,
.div27 {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  flex-shrink: 0;
}
.productInfo12 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-8);
  flex-shrink: 0;
}
.bodySerum10 {
  flex: 1;
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.image13,
.image14 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-8);
  overflow: hidden;
  flex-shrink: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image13 {
  height: var(--height-187_3);
  background-image: url(/Image13@3x.png);
  display: none;
}
.image14 {
  height: var(--height-324);
  background-image: url(/Image6@2x.png);
}
.bodySerum11,
.bodyWash9 {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.bodySerum11 {
  width: var(--width-100);
  display: none;
}
.bodyWash9 {
  flex: 1;
}
.image15,
.image16 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-8);
  overflow: hidden;
  flex-shrink: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image15 {
  height: var(--height-187_3);
  background-image: url(/Image6@2x.png);
  display: none;
}
.image16 {
  height: var(--height-324);
  background-image: url(/Image13@3x.png);
}
@media screen and (max-width: 390px) {
  .products {
    gap: var(--gap-8);
  }
  .allProducts {
    font-size: var(--fs-32);
  }
  .filterProducts {
    flex-direction: column;
  }
  .filterMobile {
    display: flex;
  }
  .products2 {
    justify-content: flex-start;
    flex: unset;
    align-self: stretch;
  }
  .row {
    gap: var(--gap-16);
  }
  .image,
  .image2 {
    height: var(--height-187_28);
  }
  .div2 {
    width: var(--width-auto);
    align-self: unset;
  }
  .price {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .image3 {
    height: var(--height-187_28);
  }
  .product4 {
    display: none;
  }
  .image4,
  .image6 {
    height: var(--height-112_6);
  }
  .image7 {
    display: block;
  }
  .image8 {
    display: none;
  }
  .faceMask {
    display: block;
    flex: 1;
  }
  .div13 {
    display: block;
    width: var(--width-auto);
    align-self: unset;
  }
  .faceToner5,
  .price5 {
    display: none;
  }
  .row5 {
    display: flex;
    gap: var(--gap-16);
    align-items: flex-start;
  }
  .image10,
  .image12 {
    height: var(--height-112_6);
  }
  .productInfo11 {
    display: flex;
  }
  .productInfo12 {
    display: none;
  }
  .image13 {
    display: block;
  }
  .image14 {
    display: none;
  }
  .bodySerum11 {
    display: block;
    flex: 1;
  }
  .bodyWash9 {
    display: none;
  }
  .image15 {
    display: block;
  }
  .image16 {
    display: none;
  }
  .allProducts,
  .products {
    align-self: stretch;
    width: 100%;
  }
  .products {
    display: flex;
    height: var(--height-auto);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 120px var(--padding-40) var(--padding-56);
    box-sizing: border-box;
  }
  .allProducts {
    font-weight: 500;
    letter-spacing: -0.06em;
    line-height: 100%;
    text-align: left;
    display: block;
  }
  .allProducts,
  .priceSpacer,
  .row {
    height: var(--height-auto);
  }
  .row {
    display: flex;
    align-self: stretch;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .priceSpacer {
    font-weight: 500;
    letter-spacing: -0.06em;
    line-height: 100%;
    text-align: left;
    display: block;
    width: var(--width-auto);
    align-self: unset;
  }
}
