.qtyPicker {
  border-radius: var(--br-8);
  border: var(--border-2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--fs-16);
  color: var(--Black);
  font-family: var(--font-inter);
}
.tapableAreaIcon {
  cursor: pointer;
  border: 0;
  padding: var(--padding-01);
  background-color: transparent;
  height: var(--height-48);
  width: var(--width-48);
  object-fit: cover;
}
.div {
  align-self: stretch;
  width: var(--width-24);
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 390px) {
  .tapableAreaIcon {
    display: flex;
    flex-direction: row;
    gap: var(--gap-0);
    padding: var(--padding-12);
    box-sizing: border-box;
  }
}
