.testimonialWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-16);
  min-width: var(--min-w-288);
  text-align: left;
  font-size: var(--fs-16);
  color: var(--Black);
  font-family: var(--font-inter);
}
.saraJ {
  color: var(--Gray-3);
}
.saraJ,
.theFaceToner {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.button,
.imageIcon {
  border-radius: var(--br-8);
}
.button {
  align-self: stretch;
  backdrop-filter: blur(52px);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: var(--gap-16);
}
.imageIcon {
  width: var(--width-50);
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.rightText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8);
}
.faceToner,
.viewProduct {
  position: relative;
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
}
.viewProduct {
  color: var(--Gray-3);
}
@media screen and (max-width: 390px) {
  .button,
  .testimonialWrapper {
    display: flex;
    height: var(--height-auto);
  }
  .testimonialWrapper {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .button {
    align-self: stretch;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    backdrop-filter: blur(52px);
  }
  .imageIcon {
    display: block;
    height: var(--height-50);
    gap: var(--gap-0);
  }
  .rightText {
    display: flex;
    width: var(--width-auto);
    align-self: unset;
    height: var(--height-auto);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
