.root {
  cursor: pointer;
  border: var(--border-3);
  padding: var(--padding-8) var(--padding-16);
  background-color: var(--Gray-1);
  border-radius: var(--br-8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.root[data-checked="false"] {
  border: var(--border-1);
  background-color: var(--White);
}
.option {
  position: relative;
  font-size: var(--fs-16);
  letter-spacing: -0.06em;
  line-height: 100%;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--Black);
  text-align: left;
}
@media screen and (max-width: 390px) {
  .root {
    display: flex;
    width: var(--width-auto);
    align-self: unset;
    height: var(--height-auto);
    flex-direction: row;
    gap: var(--gap-0);
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
}